### Github File Push Config

name=Python-Powerpoint_Animation_Generator
desc=Python-Powerpoint_Animation_Generator
public=true
homepage=
license=mit
remote=

file.readme=.\README.md
file.gitignore=.\.gitignore

config.has_issues=true
config.has_projects=true
config.has_wiki=true
config.allow_squash_merge=true
config.allow_merge_commit=true
config.allow_rebase_merge=true
config.delete_branch_on_merge=false
